body.menu_principal {
    background-image: url('img/3 pokemons.jpg');
    background-repeat:no-repeat;
    background-position: center center;
}

body.pagina_login {
    background-image: url('img/best-teams-pokemon.jpg');
    background-repeat:no-repeat;
    background-position: center center;
    padding-bottom: 20%;
}
body.transacciones {
    background-image: url('img/jiglipuff.png');
    background-repeat:no-repeat;
    background-position: center center;
    padding-bottom: 20%;
}
body.graficos {
    background-image: url('img/Blastoise.jpg');
    background-repeat:no-repeat;
    background-position: center center;
    padding-bottom: 20%;
}

h1.login_titulo {
    text-align: center;
    color: aliceblue;
}
h1.EECC {
    text-align: center;
    color: green;
}

label.form-label{
    text-align: center;
    color: aliceblue;
}

div.form-text{
    text-align: center;
    color: aliceblue;
}

div.login_button{
    text-align: center;
}

#login_button {
    background-color: yellow;
    color: blue;
}

div.grafico_barras{
    align-items: center;
    align-content: center;
    text-align: center;
}

